
body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#ffd6e7,#ffeef5);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

/* Kotak Utama */
.container{
    width:360px;
    background:white;
    padding:25px;
    border-radius:30px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

/* Nama */
.user-identity{
    text-align:center;
    margin-bottom:15px;
}

.user-identity p{
    margin:0;
    color:#d81b60;
    font-size:12px;
    font-weight:bold;
}

.user-identity h2{
    margin:5px 0;
    color:#880e4f;
    font-size:18px;
}

/* Display */
.display-area{
    background:#fff5f8;
    border-radius:20px;
    padding:20px;
    min-height:80px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-bottom:20px;
}

#screen{
    margin:0;
    color:#c2185b;
    font-size:38px;
    word-break:break-word;
    text-align:right;
    width:100%;
}

/* Tombol Mode */
.mode-nav{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.mode-btn{
    flex:1;
    padding:12px;
    border:none;
    border-radius:15px;
    cursor:pointer;
    font-weight:bold;
}

.active{
    background:#ec407a;
    color:white;
}

.inactive{
    background:#f8bbd0;
    color:#880e4f;
}

/* Grid Tombol */
.btn-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

/* Tombol */
.btn{
    height:65px;
    border:none;
    border-radius:18px;
    font-size:22px;
    cursor:pointer;
    font-weight:bold;
    transition:0.2s;
}

.btn:active{
    transform:scale(0.95);
}

/* Warna Tombol */
.dark{
    background:#ffffff;
    color:#333;
    border:1px solid #f8bbd0;
}

.light{
    background:#fce4ec;
    color:#ad1457;
}

.orange{
    background:#f48fb1;
    color:white;
}

.scientific{
    background:#ec407a;
    color:white;
    font-size:15px;
}

/* Tombol Nol */
.zero{
    grid-column:span 2;
}

/* Panel Soal Cerita */
#storyPanel{
    display:none;
    flex-direction:column;
    gap:15px;
}

/* Textarea */
textarea{
    width:100%;
    height:120px;
    resize:none;
    border-radius:15px;
    border:2px solid #f8bbd0;
    padding:15px;
    box-sizing:border-box;
    font-size:15px;
}

/* Tombol Jawaban */
.solve-btn{
    padding:15px;
    border:none;
    border-radius:15px;
    background:#ec407a;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:0.2s;
}

.solve-btn:active{
    transform:scale(0.97);
}
